body {
	background-color: rgb(249, 249, 249);
}
h1{
	text-align: center;
{}
header{
		text-align: center;
}
a {
      color: rgb(51, 51, 51);
}
 .boi {
      text-align: center;
      background: rgb(255, 65, 65);
      display: inline;
}